---
import Layout from "../layouts/Layout.astro";
import Navbar from "../Components/Navbar.astro";
import Hero from "../Sections/Hero.astro";
---

<Layout title="Welcome to my Website">
  <main>
    <Hero/>
  </main>
</Layout>
