---
import ExperianceBox from "../Components/ExperianceBox.astro";
---

<section class="bg-[#9AD0C2] lg:px-24 lg:py-16">
  <!-- Experiance -->
  <h2 class="lg:text-4xl lg:mb-16">Experiance</h2>

  <ExperianceBox
    title="IT Support technician"
    description="As a student IT employee at Iowa State University, I provide essential technical support and contribute to the efficient functioning of the university's IT infrastructure."
    date="Aug 2023 - Present"
  />
  <ExperianceBox
    title="Freelance mobile dev"
    description="As a freelance mobile app developer during the summer of 2023, I took on various projects where I designed, developed, and deployed mobile applications for clients using the Flutter framework."
    date="Apr 2023 - jul 2023"
  />
</section>
