---
import { Image } from "astro:assets";
import Cliphead from "../../public/imgs/cliphead.png";
---

<section class="bg-[#9A8FDB] flex items-center justify-center lg:py-20">
    <!-- Hero -->
    <div class=" inline">
      <h1 class="lg:text-6xl">HI! <br /> I'M ANISH</h1>
      <h3 class="lg:text-3xl lg:pt-12">
        I'm Trying to change the world through code <br /> One line at a time
        :)
      </h3>
    </div>
    <Image src={Cliphead} alt="" class="ml-40 "/>
  </section>
